<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="/js/libs/jquery.dataTables.js"></script>

<div class="pricing-tables-content">
    <div class="fuelux datagrid bayyadiv">
        <table class="table table-bordered datagrid datagrid-stretch-header">
            <thead class="orders__head" style="background-color: #302e2e;">
                <tr>
                    <th colspan="6">
                        <span class="datagrid-header-title pull-left">
                            <h4 class="orders__title col-xs-12 orders__title_center" style="font-size: 16px; text-align: left">List Kyc</h4>
                        </span>
                        <div class="datagrid-header-left pull-left" style="display: none;">
                            <div class="input-group search datagrid-search">
                                <input type="text" class="form-control" placeholder="undefined">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-white">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </th>
                </tr>

            </thead>
        </table>
        <table class="table table-bordered datagrid" id='all-kyc' style="overflow:auto;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date/Time</th>
                    <th>FullName</th>
                    <th>Phone</th>
                    <th>IdVerify</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>

            </tbody>

        </table>
    </div>
</div>
<input id="host_image" type="text" style='display:none' class="withdraw-field form-control label-input-label" size="16" style="background-color: #3333"
                                            value="<%-host_image%>" >
<div id="detailInfoKyc" class="modal fade" role="dialog" tabindex="0" style="left: 0px; top: 1em;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-title-draggable">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 id="title_wallet" class="modal-title">Info User Kyc</h4>
            </div>
            <div class="modal-body" style="max-height:none">

                <div role="document" style="padding: 10 0px;">
                    <div class="">
                        <!-- <div class="modal-header modal-title-draggable">
                                        <h4 id='title_wallet' class="modal-title">Wallet VND</h4>
                                    </div> -->
                        <div class="modal-body">
                            <div id="12a3euaj8xzn_form" class="form-horizontal uniForm" data-deposit-status="prepare" data-uniform-control-holder-class="form-group">
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">FullName</label>
                                    <div class="col-xs-6 col-sm-8">
                                        <div class="input-group">
                                            <input id="account_name" value="" type="text" class="withdraw-field form-control label-input-label" size="16" name="account_number"
                                                placeholder="">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <input type="radio" name="tab1" id="tab_fullname_true" style="position: inherit;height: 15px;width: 15px;" value="true" checked=""
                                        />
                                        <label class="tab" name="tab1" for="tab_fullname_true">True</label>
                                        <input type="radio" name="tab1" id="tab_fullname_false" style="position: inherit;height: 15px;width: 15px;" value="false"
                                        />
                                        <label class="tab" name="tab1" for="tab_fullname_false">False</label>

                                    </center>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">Id Verify</label>
                                    <div class="col-xs-6 col-sm-8">
                                        <div class="input-group">
                                            <input id="account_id_verify" value="" type="text" class="withdraw-field form-control label-input-label" size="16" name="account_number"
                                                placeholder="">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <input type="radio" name="tab7" id="tab_id_verify_true" style="position: inherit;height: 15px;width: 15px;" value="true"
                                            checked="" />
                                        <label class="tab" name="tab7" for="tab_id_verify_true">True</label>
                                        <input type="radio" name="tab7" id="tab_id_verify_false" style="position: inherit;height: 15px;width: 15px;" value="false"
                                        />
                                        <label class="tab" name="tab7" for="tab_id_verify_false">False</label>

                                    </center>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">Phone</label>
                                    <div class="col-xs-6 col-sm-8">
                                        <div class="input-group">
                                            <input id="account_phone" value="" type="text" class="withdraw-field form-control label-input-label" size="16" name="account_number"
                                                placeholder="">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <input type="radio" name="tab5" id="tab_phone_true" style="position: inherit;height: 15px;width: 15px;" value="true" checked=""
                                        />
                                        <label class="tab" name="tab5" for="tab_phone_true">True</label>
                                        <input type="radio" name="tab5" id="tab_phone_false" style="position: inherit;height: 15px;width: 15px;" value="false" />
                                        <label class="tab" name="tab5" for="tab_phone_false">False</label>

                                    </center>
                                </div>
                                <div class="form-group">
                                    <label>Image Verifycation Front</label>
                                    <center>
                                        <img width="400px" id="img_front">
                                    </center>

                                </div>
                                <div class="form-group">
                                    <center>
                                        <input type="radio" name="tab6" id="tab_imgfront_true" style="position: inherit;height: 15px;width: 15px;" value="true" checked=""
                                        />
                                        <label class="tab" name="tab6" for="tab_imgfront_true">True</label>
                                        <input type="radio" name="tab6" id="tab_imgfront_false" style="position: inherit;height: 15px;width: 15px;" value="false"
                                        />
                                        <label class="tab" name="tab6" for="tab_imgfront_false">False</label>

                                    </center>
                                </div>
                                <div class="form-group">
                                    <label>Image Verifycation Selfie</label>
                                    <center>
                                        <img width="400px" id="img_selfie">
                                    </center>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <input type="radio" name="tab2" id="tab_imgselfie_true" style="position: inherit;height: 15px;width: 15px;" value="true"
                                            checked="" />
                                        <label class="tab" name="tab2" for="tab_imgselfie_true">True</label>
                                        <input type="radio" name="tab2" id="tab_imgselfie_false" style="position: inherit;height: 15px;width: 15px;" value="false"
                                        />
                                        <label class="tab" name="tab2" for="tab_imgselfie_false">False</label>

                                    </center>
                                </div>
                                <div class="form-group">
                                    <label>Image Verifycation With Exhchange</label>
                                    <center>
                                        <img width="400px" id="img_attach">
                                    </center>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <input type="radio" name="tab3" id="tab_imgwith_true" style="position: inherit;height: 15px;width: 15px;" value="true" checked=""
                                        />
                                        <label class="tab" name="tab3" for="tab_imgwith_true">True</label>
                                        <input type="radio" name="tab3" id="tab_imgwith_false" style="position: inherit;height: 15px;width: 15px;" value="false"
                                        />
                                        <label class="tab" name="tab3" for="tab_imgwith_false">False</label>

                                    </center>
                                </div>
                                <div class="form-group">
                                    <label>Image Alternative</label>
                                    <center>
                                        <img width="400px" id="img_alternative">
                                    </center>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <input type="radio" name="tab4" id="tab_imgalter_true" style="position: inherit;height: 15px;width: 15px;" value="true" checked=""
                                        />
                                        <label class="tab" name="tab4" for="tab_imgalter_true">True</label>
                                        <input type="radio" name="tab4" id="tab_imgalter_false" style="position: inherit;height: 15px;width: 15px;" value="false"
                                        />
                                        <label class="tab" name="tab4" for="tab_imgalter_false">False</label>

                                    </center>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button name="verify" class="btn btn-condition" id="verify_button" onclick="verify(this)">Verify</button>
                <button name="cancel" class="btn btn-condition" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    Pace.track(function () {
        $.ajax({
            headers: {
                "x-access-token": localStorage.getItem("token")
            },
            type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url: '/admin/all-kyc', // the url where we want to POST

            dataType: 'json', // what type of data do we expect back from the server
            // encode          : true
        }).done(function (data) {
            data = JSON.parse(data)
            console.log(data)
            data.kyc.forEach(item => {
                item["datetime"] = formatDate(item["createAt"]);
            });
            var template = $('#listkyc').html();
            var strVar = Mustache.render(template, data);

            $('#all-kyc >tbody').html(strVar)
            $('#all-kyc').DataTable({
                "pagingType": "full_numbers",
                "bLengthChange": false,
                "searching": false
            });
        });
    });

    function verify(e) {
        var error = getError()
        var data = {
            "id": $(e).data("id_kyc"),
            "field_error": error
        }
        if (error != "") data["status"] = 2
        else data["status"] = 1


        Pace.track(function () {

            $.ajax({
                headers: {
                    "x-access-token": localStorage.getItem("token")
                },
                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url: '/admin/verify-kyc', // the url where we want to POST
                data: data, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                // encode          : true
            }).done(function (data) {
                if (data.status == 1) {
                    console.log($(e).data("id_kyc"))
                    console.log("#button_" + $(e).data("id_kyc"))
                    $("#button_" + $(e).data("id_kyc")).parent().parent().remove()
                    $("#detailInfoKyc").modal("hide")
                }
            });

        });


    }
</script>