<footer class="footer foot">
    <!-- Footer Top Area Starts -->
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Starts -->
                <div class="col-sm-4 col-md-2">
                    <h4>Our Company</h4>
                    <div class="menu">
                        <ul>
                            <li><a onclick="getPage('/')">Home</a></li>
                            <li><a onclick="getPage('/market')">Market</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="about.html">About</a></li>
                            
                            <!-- <li><a href="pricing.html">Pricing</a></li> -->
                            <!-- <li><a href="blog-right-sidebar.html">Blog</a></li> -->
                            <!-- <li><a href="contact.html">Contact</a></li> -->
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget Ends -->
                <!-- Footer Widget Starts -->
                <div class="col-sm-4 col-md-2">
                    <h4>Help & Support</h4>
                    <div class="menu">
                        <ul>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="terms-of-services.html">Terms of Services</a></li>
                            <!-- <li><a href="404.html">404</a></li> -->
                            <!-- <li><a href="/signup">Register</a></li> -->
                            <!-- <li><a href="/login">Login</a></li> -->
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget Ends -->
                <!-- Footer Widget Starts -->
                <div class="col-sm-4 col-md-3">
                    <h4>Contact Us </h4>
                    <div class="contacts">
                        <div>
                            <span>contact@website.com</span>
                        </div>
                        <div>
                            <span>00216 21 184 010</span>
                        </div>
                        <div>
                            <span>London, England</span>
                        </div>
                        <div>
                            <span>mon-sat 08am &#x21FE; 05pm</span>
                        </div>
                    </div>
                    <!-- Social Media Profiles Starts -->
                    <div class="social-footer">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fa fa-facebook fatrading"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter fatrading"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-google-plus fatrading"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin fatrading"></i></a></li>
                        </ul>
                    </div>
                    <!-- Social Media Profiles Ends -->
                </div>
                <!-- Footer Widget Ends -->
                <!-- Footer Widget Starts -->
                <div class="col-sm-12 col-md-5">
                    <!-- Facts Starts -->
                    <div class="facts-footer">
                        <div>
                            <h5 id="total-market-cap">$0</h5>
                            <span>Market cap</span>
                        </div>
                        <div>
                            <h5 id="total-daily-transaction">0</h5>
                            <span>daily transactions</span>
                        </div>
                        <div>
                            <h5 id="total-active-account">0</h5>
                            <span>active accounts</span>
                        </div>
                        <div>
                            <h5 id='support-countries'>3</h5>
                            <span>supported countries</span>
                        </div>
                    </div>
                    <!-- Facts Ends -->
                    <hr>
                    <!-- Supported Payment Cards Logo Starts -->
                    <div class="payment-logos">
                        <h4 class="payment-title">supported payment methods</h4>
                        <img src="/images/icons/payment/american-express.png" alt="american-express">
                        <img src="/images/icons/payment/mastercard.png" alt="mastercard">
                        <img src="/images/icons/payment/visa.png" alt="visa">
                        <img src="/images/icons/payment/paypal.png" alt="paypal">
                        <img class="last" src="/images/icons/payment/maestro.png" alt="maestro">
                    </div>
                    <!-- Supported Payment Cards Logo Ends -->
                </div>
                <!-- Footer Widget Ends -->
            </div>
        </div>
    </div>
    <!-- Footer Top Area Ends -->
    <!-- Footer Bottom Area Starts -->
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Copyright Text Starts -->
                    <p class="text-center">T-Rex © 2018 T-Rex Exchange Cryptocurrency</p>
                    <!-- Copyright Text Ends -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area Ends -->
</footer>
<!-- Footer Ends -->
<!-- Back To Top Starts  -->
