<!-- .head -->
<header id="header" class="head header" style="margin-top: 0px">
    <!-- .head-top -->
    <div class="head-top bitex-model" data-model-key="IsProTrader" style="" data-model-action="show_element">
        <!-- .container-fluid -->
        <div class="container">
            <!-- .head-ticker -->
            <ul class="head-ticker bitex-model">
                <li>
                    <span class="head-ticker__title">
                        <i class="glyphicon glyphicon-triangle-right"></i> LAST&nbsp;
                    </span>
                    <span class="head-ticker__value">
                        <span class="bitex-model" data-model-key-list="formatted_BLINK_BTCUSD_LAST_PX" data-model-formula="formatted_BLINK_BTCUSD_LAST_PX"
                            data-blink-class="balance-info-blink">$ 1,000.00</span>
                    </span>
                </li>
                <li>
                    <span class="head-ticker__title">
                        <i class="glyphicon glyphicon-triangle-right"></i> HIGH&nbsp;
                    </span>
                    <span class="head-ticker__value">
                        <span class="bitex-model" data-model-key-list="formatted_BLINK_BTCUSD_HIGH_PX" data-model-formula="formatted_BLINK_BTCUSD_HIGH_PX"
                            data-blink-class="balance-info-blink">$ 1,100.00</span>
                    </span>
                </li>
                <li>
                    <span class="head-ticker__title">
                        <i class="glyphicon glyphicon-triangle-right"></i> LOW&nbsp;
                    </span>
                    <span class="head-ticker__value">
                        <span class="bitex-model" data-model-key-list="formatted_BLINK_BTCUSD_LOW_PX" data-model-formula="formatted_BLINK_BTCUSD_LOW_PX"
                            data-blink-class="balance-info-blink">$ 1,000.00</span>
                    </span>
                </li>
                <li>
                    <span class="head-ticker__title">
                        <i class="glyphicon glyphicon-triangle-right"></i> VOLUME&nbsp;
                    </span>
                    <span class="head-ticker__value">
                        <span class="bitex-model" data-model-key-list="formatted_BLINK_BTCUSD_VOLUME" data-model-formula="formatted_BLINK_BTCUSD_VOLUME"
                            data-blink-class="balance-info-blink">฿ 21.13510890</span>
                    </span>
                </li>
            </ul>
            <!-- /.head-ticker -->

            <ul class="head-top-nav navbar-right pull-right">
                <!-- .head-market -->
                <li>

                    <a data-switch-view="faq" href="#" class="head-top-button">
                        <i class="glyphicon glyphicon-question-sign"></i>
                        FAQ
                    </a>

                </li>
                <li class="bitex-display-if-logged">
                    <a data-switch-view="trading" href="#" class="head-top-button">
                        <i class="glyphicon glyphicon-random"></i> Trading
                    </a>
                </li>
                <li class="bitex-model" style="" data-model-key="IsProTrader" data-model-action="show_element">
                    <a data-switch-view="market" href="#" class="head-top-button">
                        <i class="glyphicon glyphicon-stats"></i> Market
                    </a>
                </li>
                <!-- /.head-market -->
                <!-- .head-language -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle head-top-button" data-toggle="dropdown" role="button" aria-expanded="false" style="padding:13.5px">
                        <span class="flag-icon flag-icon-en_US"></span>
                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1" style="min-width:60px;max-width:61px">

                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="https://testnet.blinktrade.com/es">
                                <span class="flag-icon flag-icon-es"></span>
                            </a>
                        </li>





                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="https://testnet.blinktrade.com/pt_BR">
                                <span class="flag-icon flag-icon-pt_BR"></span>
                            </a>
                        </li>





                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="https://testnet.blinktrade.com/ro">
                                <span class="flag-icon flag-icon-ro"></span>
                            </a>
                        </li>





                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="https://testnet.blinktrade.com/zn_CN">
                                <span class="flag-icon flag-icon-zn_CN"></span>
                            </a>
                        </li>





                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="https://testnet.blinktrade.com/vi">
                                <span class="flag-icon flag-icon-vi"></span>
                            </a>
                        </li>



                    </ul>
                </li>
                <!-- /.head-language -->
            </ul>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.head-top -->

    <!-- .navbar -->
    <nav id="id_toolbar" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a class="navbar-brand" onclick="getPage('/')" data-switch-view="trading">
                    <img data-switch-view="trading" class="logo__img" src="/images/logo-trex-white.png"
                        style="height: 35px;width: 120px; align-items: center">
                </a>

            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style='font-size: 15px;'>
                <ul class="nav navbar-nav navbar-right">
                    <% if(user_name != null){%>
                    <li class="bitex-display-if-logged">
                        <!-- .balance -->
                        <div class="balance" id="id_account_summary_content">
                            <ul class="balance__currencies balance__currency__My account">

                                <li class="balance-currency">
                                    <span class="balance-currency__name">VND</span>
                                    <span class="balance-currency__amount bitex-model" id="nav_balance_vnd" ></span>
                                    <div class="separator"></div>
                                </li>
                                

                                <li class="balance-currency">
                                    <span class="balance-currency__name">BTC</span>
                                    <span class="balance-currency__amount bitex-model" id="nav_balance_btc" ></span>
                                    <div class="separator"></div>
                                </li>
                                <li class="balance-currency">
                                    <span class="balance-currency__name">ETH</span>
                                    <span class="balance-currency__amount bitex-model" id="nav_balance_eth"></span>
                                    <div class="separator"></div>
                                </li>
                                <li class="balance-currency">
                                    <span class="balance-currency__name">USDT</span>
                                    <span class="balance-currency__amount bitex-model" id="nav_balance_usdt" ></span>
                                    <div class="separator"></div>
                                </li>
                                
                            </ul>
                        </div>
                        <!-- /.balance -->
                    </li>
                    <li class="bitex-display-if-logged dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img class="thumb thumb-p home-img" src="/flags/avatar.png">
                            <span class="bitex-model bitex-view-title" data-model-key="DisplayName" id="user_name"><%= user_name %></span>
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-arrow"></div>
                        <ul class="dropdown-menu" role="menu" style="min-width: 220px;">
                            <li class="dropdown-account" role="presentation">
                                <a href="#" style='background:#1d1d1d;color:#fff'>
                                    <div class="row" data-switch-view="profile">
                                        <div class="col-xs-4">
                                            <img class="thumb thumb-g home-img" data-switch-view="profile" src="/flags/avatar.png">
                                        </div>
                                        <div class="col-xs-8" data-switch-view="profile">
                                            <strong class="bitex-model bitex-view-title" data-switch-view="profile" data-model-key="DisplayName"><%= user_name%></strong>
                                            <br>
                                            <small style="line-height: 1;">(
                                                <span class="bitex-model bitex-view-title" data-model-key="PseudoName" data-switch-view="profile">Pop_891089</span>)</small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-switch-view="my_broker">
                                    About the exchange
                                </a>
                            </li>
                            <li>
                                <a href="#" data-switch-view="deposit">
                                    My Deposits
                                </a>
                            </li>
                            <li>
                                <a href="#" data-switch-view="withdraw">
                                    My Withdrawals
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a onclick="Util.logout()">
                                    <i class="glyphicon glyphicon-off"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                    <%}else{%>

                    <li class="">
                        <button class="btn btn-outline btn-signup col-xs-12" onclick="getPage('/signup')" data-switch-view="signup">
                            Sign up
                        </button>
                    </li>
                    <li class="">
                        <button class="btn btn-primary btn-signin col-xs-12" onclick="getPage('/login')" data-switch-view="signin">
                            Sign in
                        </button>
                    </li>
                    <%}%>
                    <li class="bitex-hide-if-ws-connected">
                        <button href="#" id="id_button_connect_ws" class="btn btn-outline">
                            <i class="glyphicon glyphicon-repeat"></i> Connect
                        </button>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<!-- /.head -->