<% layout ("../layout/layout_landing_page") -%>
<div class="container-fluid error">
    <div>
        <div class="text-center">
            <!-- Logo Starts -->
            <a class="logo" onclick="getPage('/')">
                <img class="img-responsive" src="/images/logo-trex-white.png" alt="logo" style='height:125px'>
            </a>
            <!-- Logo Ends -->
            <!-- Error 404 Content Starts -->
            <div class="big-404">404</div>
            <h3>oops ! ... Page not found</h3>
            <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
            <a onclick="getPage('/')" class="btn btn-primary">homepage</a>
            <!-- Error 404 Content Starts -->
        </div>
    </div>
</div>