<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>T-REX - Exchange The World </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/logo.ico">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/skins/orange.css">

    <!-- Template JS Files -->
    <script src="/js/libs/pace.min.js"></script>
    <script src="/js/libs/modernizr.js"></script>
    <script src="/js/libs/jquery-2.2.4.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
    <script src="/js/libs/select2.min.js"></script>
    <script src="/js/libs/jquery.magnific-popup.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <!-- Wrapper Starts -->

    <div class="wrapper" id="wrapper">
        <%-body %>
    </div>
    <a href="#" id="back-to-top" class="back-to-top fa fa-arrow-up"></a>
    <!-- Back To Top Ends  -->

    <!-- Template JS Files -->
    <script src="/js/libs/custom.js"></script>
    <script src="/js/front_end/common.js"></script>
    <script src="/js/front_end/util.js"></script>
    <!-- Wrapper Ends -->
</body>

</html>