<% layout ("../layout/layout_backoffice") -%>
    <!-- .page-dashboard -->
    <div class="page-dashboard">
        <!-- #trading -->
        <div id="trading" class="bitex-view bitex-view-active" style="">

            <!-- .page__head -->
            <header class="page__head section-title">
                <h3 class="page__title bitex-view-title">
                    <i class="glyphicon glyphicon-random"></i> Buy or Sell
                </h3>
            </header>
            <!-- /.page__head -->

            <!-- .page__body -->
            <div class="page__body bitex-view-content">
                <div id="trading_order_entry_content" class="row-fluid"></div>
                <div id="id_trading_well"></div>
                <!-- buy - sell -->
                <div class="col-md-6 col-xs-12" style="padding: 0">
                    <div>
                        <div id="order_entry" class="uniForm">
                            <!-- undefined -->
                            <!-- .order-form -->
                            <div class="simple-order-form page__section_white bayyadiv">
                                <!-- .order-form__head -->
                                <header class="order-form__head">
                                    <h4 class="order-form__title">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>Buy BTC
                                        <small>
                                            <a id=":2g.order_entry_open_action_advanced" style="cursor:pointer;margin-left:10px" onclick="$('#order_entry_advanced').css('display','block');$('#order_entry').css('display','none')">
                                                Buy when the price goes down</a>
                                        </small>
                                    </h4>
                                </header>
                                <!-- /.order-form__head -->
                                <!-- .order-form__mid -->
                                <div class="order-form__mid row">
                                    <!-- .form-group -->
                                    <div class="col-xs-12">
                                        <label>I want to buy </label>
                                        <div class="form-group uniform-control-holder">
                                            <label for="order_entry_qty" class="order-form__label">Amount:
                                                <span class="add-on"></span>
                                            </label>
                                            <div class="input-group">
                                                <input id="order_entry_qty" name="qty" data-uniform-label="Quantity" class="form-control label-input-label" data-uniform-validators="validateNumber; required"
                                                    type="number" required="" placeholder="" oninput=''>
                                                <div class="input-group-addon  simple-order-entry-price-sign">฿</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                    <!-- .form-group -->
                                    <div class="col-xs-12">
                                        <label>for a total of</label>
                                        <div class="form-group uniform-control-holder">
                                            <label for="order_entry_total" class="order-form__label"> Total:</label>
                                            <div class="input-group">
                                                <input id="order_entry_total" name="total" data-uniform-label="Total" class="form-control label-input-label" data-uniform-validators="validateNumber; required"
                                                    type="number" required="" placeholder="" readonly>
                                                <div class="input-group-addon simple-order-entry-price-sign">$</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.order-form__mid -->
                                <!-- .order-form__bot -->
                                <footer class="row">
                                    <div class="order-form__action col-xs-12">
                                        <button id=":2g.order_entry_action_simple" class="btn btn-lg btn-success" style="display: block; width: 100%;" onclick='buy_btc();'>BUY</button>
                                    </div>
                                </footer>
                                <div class="row">
                                    <div class="col-xs-12">Fee:
                                        <span id=":2g.order_entry_fee"></span>
                                        <strong>
                                            <span id=":2g.order_entry_avg_price"></span>
                                        </strong>
                                    </div>
                                </div>
                                <!-- /.order-form__bot -->
                            </div>
                            <!-- /.order-form -->
                        </div>
                        <div id="order_entry_advanced" class="uniForm" style="display: none;">
                            <input id=":2g.order_entry_type" type="hidden" name="type" value="2" placeholder="">
                            <input id=":2g.order_entry_broker_id" type="hidden" name="broker_id" value="undefined" placeholder="">
                            <input id=":2g.order_entry_is_broker" type="hidden" value="undefined" placeholder="">
                            <div class="page__section_white simple-order-form bayyadiv">
                                <header class="order-form__head">
                                    <h4 class="order-form__title">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>Buy BTC
                                        <small>
                                            <a id=":2g.order_entry_cancel_action_advanced" style="cursor:pointer;margin-left:10px" onclick="$('#order_entry_advanced').css('display','none');$('#order_entry').css('display','block')">Buy now at the current price</a>
                                        </small>
                                    </h4>
                                </header>
                                <div class="order-form__mid row row">
                                    <div class="col-xs-12">
                                        <label>I want to buy</label>
                                        <div class="form-group uniform-control-holder">
                                            <label class="order-form__label">Amount: </label>
                                            <div class="input-group">
                                                <input id="order_entry_amount" name="amount" type="text" class="form-control label-input-label" data-uniform-label="Amount"
                                                    data-uniform-validators="validateNumber; required" data-uniform-type="number"
                                                    data-uniform-filters="positive_number" value="" required="" placeholder=""
                                                    oninput='amountBuy()'>
                                                <span class="input-group-addon simple-order-entry-price-sign">฿</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <label>when the price reaches </label>
                                        <div class="form-group uniform-control-holder">
                                            <label class="order-form__label">Price: </label>
                                            <div class="input-group">
                                                <input id="order_entry_price" name="price" type="text" class="form-control label-input-label" data-uniform-label="Price"
                                                    data-uniform-validators="validateNumber; required" data-uniform-type="number"
                                                    data-uniform-filters="positive_number" value="" required="" placeholder=""
                                                    oninput='priceBuy()'>
                                                <span class="input-group-addon simple-order-entry-price-sign">$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <label>for a total of </label>
                                        <div class="form-group uniform-control-holder">
                                            <label class="order-form__label">Total</label>
                                            <div class="input-group">
                                                <input id="order_entry_total_advanced" name="total" type="text" class="form-control label-input-label" data-uniform-label="Total"
                                                    data-uniform-validators="validateNumber; required" data-uniform-type="text"
                                                    oninput="totalBuy()" data-uniform-filters="positive_number" required="" placeholder=""
                                                    readonly>
                                                <span class="input-group-addon simple-order-entry-price-sign">$</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="order-form__action col-xs-12">
                                        <button id=":2g.order_entry_action_advanced" class="btn btn-lg btn-success order-entry-action col-xs-12" onclick='buy_btc(this)'>BUY</button>
                                        <div class="row">
                                            <div class="col-xs-12">Fee:
                                                <span id=":2g.order_entry_fee_advanced">0.1%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="order_entry_sell" class="uniForm">
                            <!-- undefined -->
                            <!-- .order-form -->
                            <div class="simple-order-form page__section_white bayyadiv">
                                <!-- .order-form__head -->
                                <header class="order-form__head">
                                    <h4 class="order-form__title">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>Sell BTC
                                        <small>
                                            <a style="cursor:pointer;margin-left:10px" onclick="$('#order_entry_advanced_sell').css('display','block');$('#order_entry_sell').css('display','none')">
                                                Sell when the price goes up</a>
                                        </small>
                                    </h4>
                                </header>
                                <!-- /.order-form__head -->
                                <!-- .order-form__mid -->
                                <div class="order-form__mid row">
                                    <!-- .form-group -->
                                    <div class="col-xs-12">
                                        <label>I want to sell:</label>
                                        <div class="form-group uniform-control-holder">
                                            <label for="order_entry_qty_sell" class="order-form__label">Amount:
                                                <span class="add-on"></span>
                                            </label>
                                            <div class="input-group">
                                                <input id="order_entry_qty_sell" name="qty" data-uniform-label="Quantity" class="form-control label-input-label" data-uniform-validators="validateNumber; required"
                                                    type="text" required="" placeholder="" oninput="">
                                                <div id=":2p.order_entry_amount_sign" class="input-group-addon  simple-order-entry-price-sign">฿</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                    <!-- .form-group -->
                                    <div class="col-xs-12">
                                        <label>for a total of:</label>
                                        <div class="form-group uniform-control-holder">
                                            <label for="order_entry_total_sell" class="order-form__label">Total:</label>
                                            <div class="input-group">
                                                <input id="order_entry_total_sell" name="total" data-uniform-label="Total" class="form-control label-input-label" data-uniform-validators="validateNumber; required"
                                                    type="text" required="" placeholder="" readonly>
                                                <div id=":2p.order_entry_amount_sign" class="input-group-addon simple-order-entry-price-sign">$</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.order-form__mid -->
                                <!-- .order-form__bot -->
                                <footer class="row">
                                    <div class="order-form__action col-xs-12">
                                        <button id=":2p.order_entry_action_simple" class="btn btn-lg btn-danger" style="display: block; width: 100%;" onclick="sell_btc(this)">SELL</button>
                                    </div>
                                </footer>
                                <div class="row">
                                    <div class="col-xs-12">Fee:
                                        <span id=":2p.order_entry_fee"></span>
                                        <strong>
                                            <span id=":2p.order_entry_avg_price"></span>
                                        </strong>
                                    </div>
                                </div>
                                <!-- /.order-form__bot -->
                            </div>
                            <!-- /.order-form -->
                        </div>
                        <div id="order_entry_advanced_sell" class="uniForm" style="display: none;">
                            <input id=":2p.order_entry_type" type="hidden" name="type" value="2" placeholder="">
                            <input id=":2p.order_entry_broker_id" type="hidden" name="broker_id" value="undefined" placeholder="">
                            <input id=":2p.order_entry_is_broker" type="hidden" value="undefined" placeholder="">
                            <div class="page__section_white simple-order-form">
                                <header class="order-form__head">
                                    <h4 class="order-form__title">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>Sell BTC
                                        <small>
                                            <a style="cursor:pointer;margin-left:10px" onclick="$('#order_entry_advanced_sell').css('display','none');$('#order_entry_sell').css('display','block')">Sell now at the current price</a>
                                        </small>
                                    </h4>
                                </header>
                                <div class="order-form__mid row row">
                                    <div class="col-xs-12">
                                        <label>I want to sell</label>
                                        <div class="form-group uniform-control-holder">
                                            <label class="order-form__label">Amount: </label>
                                            <div class="input-group">
                                                <input id="order_entry_amount_sell" name="amount" type="number" class="form-control label-input-label" data-uniform-label="Amount"
                                                    data-uniform-validators="validateNumber; required" data-uniform-type="number"
                                                    oninput="amountSell()" data-uniform-filters="positive_number" value="" required=""
                                                    placeholder="" oninput="total_price_change_advance_sell()">
                                                <span class="input-group-addon simple-order-entry-price-sign">฿</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <label>when the price reaches </label>
                                        <div class="form-group uniform-control-holder">
                                            <label class="order-form__label">Price: </label>
                                            <div class="input-group">
                                                <input id="order_entry_price_advanced_sell" name="price" type="number" class="form-control label-input-label" data-uniform-label="Price"
                                                    data-uniform-validators="validateNumber; required" data-uniform-type="number"
                                                    data-uniform-filters="positive_number" value="" required="" placeholder=""
                                                    oninput="priceSell()">
                                                <span class="input-group-addon simple-order-entry-price-sign">$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <label>for a total of</label>
                                        <div class="form-group uniform-control-holder">
                                            <label class="order-form__label">Total</label>
                                            <div class="input-group">
                                                <input id="order_entry_total_advanced_sell" name="total" type="text" class="form-control label-input-label" data-uniform-label="Total"
                                                    required="" placeholder="" oninput="totalSell()">
                                                <span class="input-group-addon simple-order-entry-price-sign">$</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="order-form__action col-xs-12">
                                        <button id=":2p.order_entry_action_advanced" class="btn btn-lg btn-danger order-entry-action col-xs-12" onclick="sell_btc(this)">SELL</button>
                                        <div class="row">
                                            <div class="col-xs-12"> Fee:0.1%
                                                <span id=":2p.order_entry_fee_advanced"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end buy - sell -->
                <!-- ask -bid -->
                <div class="col-md-6 col-xs-12" style="padding: 0">
                    <div id="id_order_book_bid_content" class="order" style="display: block">
                        <div class="orders">
                            <!-- bid -->

                            <!-- .orders__head -->
                            <header class="orders__head" style="background-color: #302e2e">
                                <div class="row">
                                    <h4 class="orders__title col-xs-12 orders__title_center" style="font-size: 16px; text-align: left">ASK/BID</h4>
                                </div>
                            </header>
                            <!-- /.orders__head -->
                            <!-- .orders__body -->
                            <div class="orders__body">
                                <!-- .table-responsive -->
                                <div class="table-responsive">
                                    <!-- .orders-table -->
                                    <table class="orders-table table" id="table_ask11">
                                        <thead>
                                            <tr>
                                                <th>Price (
                                                    <%= pairCoin[0]%>)</th>
                                                <th style="text-align: right">Amount(
                                                    <%= pairCoin[1]%>)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(236, 83, 83)" class="real-time-market-price-ask">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-price-ask">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(236, 83, 83)" class="real-time-market-price-ask">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-price-ask">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(236, 83, 83)" class="real-time-market-price-ask">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-qty-ask">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(236, 83, 83)" class="real-time-market-price-ask">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-price-ask">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(236, 83, 83)" class="real-time-market-price-ask">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-price-ask">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(236, 83, 83)" class="real-time-market-price-ask">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-qty-ask">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(236, 83, 83)" class="real-time-market-price-ask">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-price-ask">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(236, 83, 83)" class="real-time-market-price-ask">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-price-ask">8,000.00</td>
                                            </tr>

                                        </tbody>
                                    </table>

                                    <!-- /.orders-table -->
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- end bid -->
                            <!-- between -->
                            <div class="row" style="background-color: rgb(36, 36, 34); margin: 0 0px">
                                <p id="current_price" style="font-size: 16px; text-align: center; margin: 0 0; padding: 0 0; height: 25px;color: rgb(117, 226, 74)">10000000</p>
                            </div>
                            <!-- end between -->
                            <!-- ask -->
                            <div class="orders__body">
                                <!-- .table-responsive -->
                                <div class="table-responsive">
                                    <!-- .orders-table -->
                                    <table class="orders-table table" id='table_bid'>
                                        <tbody>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(117, 226, 74)" class="real-time-market-price-bid">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-price-bid">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(117, 226, 74)" class="real-time-market-price-bid">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-price-bid">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(117, 226, 74)" class="real-time-market-price-bid">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-qty-bid">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(117, 226, 74)" class="real-time-market-price-bid">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-price-bid">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(117, 226, 74)" class="real-time-market-price-bid">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-price-bid">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(117, 226, 74)" class="real-time-market-price-bid">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-qty-bid">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(117, 226, 74)" class="real-time-market-price-bid">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-price-bid">8,000.00</td>
                                            </tr>
                                            <tr class="real-time-market-row real-time-market-movable real-time-market-source real-time-market-target">
                                                <td style="color: rgb(117, 226, 74)" class="real-time-market-price-bid">1.00000000</td>
                                                <td style="text-align: right" class="real-time-market-qty-bid">8,000.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- /.orders-table -->
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- <header class="orders__head">
                                            <div class="row">
                                                <h4 class="orders__title col-xs-6 orders__title_center ">BID</h4>
                                            </div>
                                        </header> -->
                            <!-- end ask -->
                            <!-- /.orders__body -->
                        </div>
                    </div>
                </div>
                <!-- end ask - bid -->
                <div id=":2y.grid" class="fuelux datagrid bayyadiv" style="width:100%;">
                    <table class="table table-bordered datagrid datagrid-stretch-header">
                        <thead>
                            <tr>
                                <th colspan="6">
                                    <span class="datagrid-header-title pull-left">
                                        <strong>My orders</strong>
                                    </span>
                                    <div class="datagrid-header-left pull-left" style="display: none;">
                                        <div class="input-group search datagrid-search">
                                            <input type="text" class="form-control" placeholder="undefined">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-white">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="datagrid-header-right pull-right">
                                        <div class="select filter datagrid-filter" data-resize="auto">
                                            <button type="button" data-toggle="dropdown" class="btn dropdown-toggle toggle">
                                                <span class="dropdown-label" style="width: 111px;">All</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li data-value="has_leaves_qty eq 1">
                                                    <a onclick="sort_open_matching()">Open</a>
                                                </li>
                                                <li data-value="has_cum_qty eq 1">
                                                    <a onclick="sort_fill_matching()">Filled</a>
                                                </li>
                                                <li data-value="has_cxl_qty eq 1">
                                                    <a onclick="sort_cancel_matching()">Cancelled</a>
                                                </li>
                                                <li data-value="has_cxl_qty eq 1">
                                                    <a onclick="sort_all_matching()">All</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <div class="datagrid-stretch-wrapper" style="height:360px;">
                        <table class="table table-bordered datagrid" id='all-order'>
                            <thead>
                                <tr>
                                    <th data-property="OrderDate">Date/Time</th>
                                    <th data-property="Side">Description</th>
                                    <th data-property="OrdStatus">Status</th>
                                    <th data-property="AvgPx">Price</th>
                                    <th data-property="Volume">Total</th>
                                    <th data-property="ClOrdID">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="order-manager-new" id=":4m_1852898">
                                    <td class="order-manager-order-date">5/21/2018, 2:32:23 AM</td>
                                    <td class="order-manager-description">Buying ฿ 1.00000000</td>
                                    <td class="order-manager-status">Waiting sellers</td>
                                    <td class="order-manager-avg-price">$ 8,000.00</td>
                                    <td class="order-manager-volume">$ 0.00</td>
                                    <td class="order-manager-actions">
                                        <button class="btn btn-sm btn-danger" onclick='cancel_transaction(this)' data-action="cancel" data-client-order-id="1852898"
                                            data-order-id="1459030503292">cancel</button>
                                    </td>
                                </tr>
                                <tr class="order-manager-new" id=":4m_5639078">
                                    <td class="order-manager-order-date">5/20/2018, 5:28:30 AM</td>
                                    <td class="order-manager-description">Buying ฿ 1.00000000</td>
                                    <td class="order-manager-status">Waiting sellers</td>
                                    <td class="order-manager-avg-price">$ 29,000.00</td>
                                    <td class="order-manager-volume">$ 0.00</td>
                                    <td class="order-manager-actions">
                                        <button class="btn btn-sm btn-danger" onclick='cancel_transaction(this)' data-action="cancel" data-client-order-id="5639078"
                                            data-order-id="1459030503289">cancel</button>
                                    </td>
                                </tr>
                                <tr class="order-manager-cancel" id=":4m_8594889">
                                    <td class="order-manager-order-date">5/14/2018, 7:22:08 PM</td>
                                    <td class="order-manager-description">Cancelled order to buy ฿ 5.00000000</td>
                                    <td class="order-manager-status">Cancelled</td>
                                    <td class="order-manager-avg-price">$ 25.00</td>
                                    <td class="order-manager-volume">$ 0.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-cancel" id=":4m_66664">
                                    <td class="order-manager-order-date">5/14/2018, 7:22:07 PM</td>
                                    <td class="order-manager-description">Cancelled order to buy ฿ 5.00000000</td>
                                    <td class="order-manager-status">Cancelled</td>
                                    <td class="order-manager-avg-price">$ 25.00</td>
                                    <td class="order-manager-volume">$ 0.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-cancel" id=":4m_6631481">
                                    <td class="order-manager-order-date">5/14/2018, 7:22:06 PM</td>
                                    <td class="order-manager-description">Cancelled order to buy ฿ 5.00000000</td>
                                    <td class="order-manager-status">Cancelled</td>
                                    <td class="order-manager-avg-price">$ 25.00</td>
                                    <td class="order-manager-volume">$ 0.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-cancel" id=":4m_1111476">
                                    <td class="order-manager-order-date">5/14/2018, 7:22:04 PM</td>
                                    <td class="order-manager-description">Cancelled order to buy ฿ 5.00000000</td>
                                    <td class="order-manager-status">Cancelled</td>
                                    <td class="order-manager-avg-price">$ 25.00</td>
                                    <td class="order-manager-volume">$ 0.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-cancel" id=":4m_4947022">
                                    <td class="order-manager-order-date">5/12/2018, 11:52:50 AM</td>
                                    <td class="order-manager-description">Cancelled order to buy ฿ 1.00000000</td>
                                    <td class="order-manager-status">Cancelled</td>
                                    <td class="order-manager-avg-price">$ 100.00</td>
                                    <td class="order-manager-volume">$ 0.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_1153716">
                                    <td class="order-manager-order-date">5/9/2018, 6:56:59 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.07921842</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.02</td>
                                    <td class="order-manager-volume">$ 79.22</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_7571559">
                                    <td class="order-manager-order-date">5/9/2018, 6:58:46 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.00100000</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.00</td>
                                    <td class="order-manager-volume">$ 1.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_8825634">
                                    <td class="order-manager-order-date">5/9/2018, 6:58:46 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.00100000</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.00</td>
                                    <td class="order-manager-volume">$ 1.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_7259007">
                                    <td class="order-manager-order-date">5/9/2018, 6:58:45 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.00100000</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.00</td>
                                    <td class="order-manager-volume">$ 1.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_9145646">
                                    <td class="order-manager-order-date">5/9/2018, 6:58:45 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.00100000</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.00</td>
                                    <td class="order-manager-volume">$ 1.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_9658390">
                                    <td class="order-manager-order-date">5/9/2018, 6:58:44 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.00100000</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.00</td>
                                    <td class="order-manager-volume">$ 1.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_2876398">
                                    <td class="order-manager-order-date">5/9/2018, 6:58:44 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.00100000</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.00</td>
                                    <td class="order-manager-volume">$ 1.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_6173334">
                                    <td class="order-manager-order-date">5/9/2018, 6:58:44 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.00100000</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.00</td>
                                    <td class="order-manager-volume">$ 1.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_1269315">
                                    <td class="order-manager-order-date">5/9/2018, 6:58:44 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.00100000</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.00</td>
                                    <td class="order-manager-volume">$ 1.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_475446">
                                    <td class="order-manager-order-date">5/9/2018, 6:58:43 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.00100000</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.00</td>
                                    <td class="order-manager-volume">$ 1.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_2054969">
                                    <td class="order-manager-order-date">5/9/2018, 6:58:43 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.00100000</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.00</td>
                                    <td class="order-manager-volume">$ 1.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_3069604">
                                    <td class="order-manager-order-date">5/9/2018, 6:58:43 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.00100000</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.00</td>
                                    <td class="order-manager-volume">$ 1.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                                <tr class="order-manager-fill" id=":4m_9754559">
                                    <td class="order-manager-order-date">5/9/2018, 6:58:43 PM</td>
                                    <td class="order-manager-description">Sold ฿ 0.00100000</td>
                                    <td class="order-manager-status">Done</td>
                                    <td class="order-manager-avg-price">$ 1,000.00</td>
                                    <td class="order-manager-volume">$ 1.00</td>
                                    <td class="order-manager-actions"></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <table class="table table-bordered datagrid datagrid-stretch-footer">
                        <tfoot>
                            <tr>
                                <th colspan="4">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-3">
                                            <div class="datagrid-footer-left" style="visibility: visible;">
                                                <div class="grid-controls">
                                                    <span>
                                                        <span class="grid-start">1</span> -
                                                        <span class="grid-end">20</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-9">
                                            <div class="datagrid-footer-right" style="visibility: visible;">
                                                <div class="grid-pager pull-right">
                                                    <button type="button" class="btn btn-outline grid-refresh">
                                                        <i class="glyphicon glyphicon-refresh"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-outline grid-prevpage">
                                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-outline grid-nextpage">
                                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.page__body -->
        </div>
        <!-- /#trading -->

    </div>
    <!-- /.page-dashboard -->

    <script src='/javascript/landing/buy_sell.js?123456'></script>