<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
    <meta charset="utf-8">


    <title>T-REX - Exchange The World</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="T-REX">

    <link rel="shortcut icon" href="/images/logo.ico">

    <meta name="description" content="T-REX Exchange Cryptocurency">
    <meta name="keywords" content="bitcoin, bitcoin exchange, open source bitcoin exchange, bitcoin trading plataform, open source bitcoin trading plataform">
    <meta property="og:title" content="T-REX - T-REX Exchange Cryptocurency">
    <meta property="og:description" content="T-REX Exchange Cryptocurency">

    <meta property="og:type" content="website">

    <meta property="og:image" content="/images/back-office/demo_social_network_share.png">

    <meta property="og:type" content="website">

    <meta property="og:image" content="/images/back-office/demo_social_network_share.png">

    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>


    <!-- Feed -->
    <link rel="alternate" type="application/rss+xml" href="/css_backoffice/feed.xml">

    <meta charset="utf-8">

    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>
    <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.vi.vNJ1HtSNzuA.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=QQE/rs=AGLTcCNB_5HdO72ZvmUW6J76Bxr-f0Xhwg/cb=gapi.loaded_0"
        async="" defer=""></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js" gapi_processed="true"></script>


    <link rel="stylesheet" href="/css_backoffice/style-new.css">

    <link href="/css_backoffice/flag-icon.css" rel="stylesheet">

    <link href="/css_backoffice/main.coinage.css?v=<%= version %>" rel="stylesheet">

    <link rel="stylesheet" href="/css_backoffice/font-awesome.min.css">
    <!-- <script data-cfasync="false" src="https://testnet.blinktrade.com/assets/js/bitex_app_blink_trade.compiled.en_US.coinage.js?v=ea45ade"
        type="text/javascript"></script> -->
    <script data-cfasync="false" src="/js/js_backoffice/bitex_app_blink_trade.compiled.en_US.coinage.js" type="text/javascript"></script>
    <script src="/js/libs/jquery-2.2.4.min.js"></script>
    <script src="/js/js_backoffice/bootstrap.min.js"></script>
    <script src="/js/js_backoffice/qrcode.min.js"></script>

    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/skins/orange.css">

    <script src="/js/libs/modernizr.js"></script>
    <script src="/js/libs/pace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>


    <script type="text/javascript" charset="utf-8" async="" src="https://platform.twitter.com/js/timeline.e7653a8bc8be5342f5ecf22ae2e65c92.js"></script>
    <link rel="stylesheet" href="/css/pace-theme-minimal.css" />
    <script src="http://peterolson.github.com/BigInteger.js/BigInteger.min.js"></script>
    <script src="/js/front_end/back_office/backoffice.js"></script>
    <script src="/js/front_end/common.js?v=<%= version %>"></script>
    <script src="/js/front_end/util.js?v=<%= version %>"></script>
    <link rel="stylesheet" href="/css_backoffice/style-trading.css">
    

    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">

</head>

<body class="ws-connected bitex-logged bitex-non-broker active-view-trading" data-active-view="trading">

    <% include ../partials/header %>
    <!-- Features Section Starts -->
        <section class="features" style="margin-top: 80px;padding: 0">
            <div class="container" style="width: 1184px;">
                <div class="row features-row">
                    <!-- Feature Box Starts -->
                    <div class="feature-box col-md-4 col-sm-12">
                        <span class="feature-icon">
                            <img src="images/icons/orange/download-bitcoin.png" alt="download bitcoin">
                        </span>
                        <div class="feature-box-content">
                            <h3>Download Bitcoin Wallet</h3>
                            <p>Get it on PC or Mobile to create, send and receive bitcoins.</p>
                        </div>
                    </div>
                    <!-- Feature Box Ends -->
                    <!-- Feature Box Starts -->
                    <div class="feature-box two col-md-4 col-sm-12">
                        <span class="feature-icon">
                            <img src="images/icons/orange/add-bitcoins.png" alt="add bitcoins">
                        </span>
                        <div class="feature-box-content">
                            <h3>Add coins to your Wallet</h3>
                            <p>Add bitcoins you’ve created or exchanged via credit card.</p>
                        </div>
                    </div>
                    <!-- Feature Box Ends -->
                    <!-- Feature Box Starts -->
                    <div class="feature-box three col-md-4 col-sm-12">
                        <span class="feature-icon">
                            <img src="images/icons/orange/buy-sell-bitcoins.png" alt="buy and sell bitcoins">
                        </span>
                        <div class="feature-box-content">
                            <h3>Buy/Sell with Wallet</h3>
                            <p>Enter receiver's address, specify the amount and send.</p>
                        </div>
                    </div>
                    <!-- Feature Box Ends -->
                </div>
            </div>
        </section>
<!-- Features Section Ends -->
        <div class="background">

            <div id="market" class="bitex-view bitex-view-active container_style" style="padding-bottom: 42px;">
                <!-- .page -->
                <div class=" container_style" style="">


                    <!-- .page__body -->
                    <div class="container page__content page__body page__padding bitex-view-content" style="padding-top:0">
                        <div class="market-table-wrap">
                            <table id="list-pair-coin" class="market-table table">
                                <thead>
                                    <tr>
                                        <th colspan="7">
                                            <span class="datagrid-header-title pull-left" style="padding-top: 0;">
                                                <strong><h3>Markets</h3></strong>
                                            </span>
                                            <div class="datagrid-header-left pull-left" style="display: none;">
                                                <div class="input-group search datagrid-search">
                                                    <input type="text" class="form-control" placeholder="undefined">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-white">
                                                            <i class="glyphicon glyphicon-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="datagrid-header-right pull-right"></div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th> Market Pair</th>
                                        <th> Last Price </th>
                                        <th> 24h Change </th>
                                        <th> 24h High </th>
                                        <th> 24h Low </th>
                                        <th> 24h Volume </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                        <div id=":1j.grid" class="fuelux datagrid" style="width:100%;">
                            <span class="datagrid-header-title pull-left">
                                <strong><h3>Last trades</h3></strong>
                            </span>
                            <table class="table table-bordered datagrid" id="lastest-order-history">
                                <thead>
                                    <tr>
                                        <th data-property="OrderDate">Date/Time</th>
                                        <th data-property="Side">Description</th>
                                        <th data-property="OrdStatus">Status</th>
                                        <th data-property="AvgPx">Price</th>
                                        <th data-property="Volume">Total</th>
                                        <th data-property="ClOrdID">User Order</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                            
                            
                        </div>
                    </div>
                    <!-- /.page__body -->
                </div>
                <!-- /.page -->
            </div>

        </div>
    <% include ../partials/footer %>

    <script src="/js/libs/pace.min.js"></script>

    <script type="text/javascript" charset="utf8" src="/js/libs/jquery.dataTables.js"></script>
    <script src="/js/libs/de_datetime.js"></script>
    <script src="/js/front_end/landing/market.js?v=231q2xc"></script>
</body>

</html>