<% layout ("../layout/layout_backoffice") -%>
    <link rel="stylesheet" href="/css/pace-theme-minimal.css" />

    <div id="sidebar_content" class="col-md-8 page__sidebar_content">
        <!-- .page-dashboard -->
        <div class="page-dashboard">

            <!-- #withdraw -->
            <div id="withdraw" class="bitex-view bitex-view-active" style="">
                <!-- .page__head -->
                <header class="page__head section-title page__head-float">
                    <h1 class="page__title h2 bitex-view-title page__title-float">
                        <i class="glyphicon glyphicon-minus"></i> My Withdrawals
                    </h1>
                    <div id="id_withdraw_button_group" class="row-fluid text-right" style="">
                        <div id=":2e.deposit_withdraw_bg" class="deposit-withdraw-button-group">
                            <button class="btn btn-primary btn-md text-center" style="padding: 6px" data-currency="USD" data-action="withdraw" data-toggle="modal" onclick="openWithdraw('VND');">
                                <strong>$</strong> Withdraw VND
                                <span class="fa fa-upload"></span>
                            </button>&nbsp;
                            <button class="btn btn-primary btn-md text-center" style="padding: 6px" data-currency="BTC" data-action="withdraw" data-toggle="modal" onclick="openWithdraw('BTC');">
                                <strong>฿</strong> Withdraw BTC
                                <span class="fa fa-upload"></span>
                            </button>&nbsp;
                            <button class="btn btn-primary btn-md text-center" style="padding: 6px" data-currency="BTC" data-action="withdraw" data-toggle="modal" onclick="openWithdraw('ETH');">
                                <strong>฿</strong> Withdraw ETH
                                <span class="fa fa-upload"></span>
                            </button>&nbsp;
                        </div>

                    </div>
                </header>
                <!-- /.page__head -->

                <!-- .page__body -->
                <div class="page__body bitex-view-content">
                    <div id="id_user_balances_well"></div>

                    <div id="id_withdraw_list"></div>
                    <div id=":2f.grid" class="fuelux datagrid" style="width:100%;">
                        <table class="table table-bordered datagrid datagrid-stretch-header">
                            <thead>
                                <tr>
                                    <th colspan="4">
                                        <span class="datagrid-header-title pull-left">
                                            <strong>Withdrawals</strong>
                                        </span>
                                        <div class="datagrid-header-left pull-left">
                                            <div class="input-group search datagrid-search">
                                                <input type="text" class="form-control" style='z-index:0;height:35px;' placeholder="Search ...">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-white" style='padding: 9px 14px;'>
                                                        <i class="glyphicon glyphicon-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="datagrid-header-right pull-right">
                                            <div class="select filter datagrid-filter" data-resize="auto">
                                                <button type="button" data-toggle="dropdown" class="btn dropdown-toggle">
                                                    <span class="dropdown-label" style="width: 111px;">All</span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li data-value="all">
                                                        <a href="#">All</a>
                                                    </li>
                                                    <li data-value="1">
                                                        <a href="#">Pending</a>
                                                    </li>
                                                    <li data-value="2">
                                                        <a href="#">In progress...</a>
                                                    </li>
                                                    <li data-value="4">
                                                        <a href="#">Completed</a>
                                                    </li>
                                                    <li data-value="8">
                                                        <a href="#">Cancelled</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </th>
                                </tr>

                            </thead>
                        </table>
                        <div class="datagrid-stretch-wrapper" style="height:auto">

                            <table class="table table-bordered datagrid" id="table_withdraw">
                            <thead style="display: none;">
                                <tr>
                                    <th data-property="Created">Date/Hour</th>
                                    <th data-property="Destination">Destination</th>
                                    <th data-property="Status">Status</th>
                                    <th data-property="Amount">Amount</th>
                                    <th data-property="Data">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="none_transaction_withdraw">
                                        <center>
                                            <p>No Transaction</p>
                                        </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        
                        </div>
                        <table class="table table-bordered datagrid datagrid-stretch-footer">
                            <tfoot>
                                <tr>
                                    <th colspan="4">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-3">
                                                <div class="datagrid-footer-left" style="visibility: visible;">
                                                    <div class="grid-controls">
                                                        <span>
                                                            <span class="grid-start">1</span> -
                                                            <span class="grid-end">20</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-9">
                                                <div class="datagrid-footer-right" style="visibility: visible;">
                                                    <div class="grid-pager pull-right">
                                                        <button type="button" class="btn btn-outline grid-refresh">
                                                            <i class="glyphicon glyphicon-refresh"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-outline grid-prevpage">
                                                            <i class="glyphicon glyphicon-chevron-left"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-outline grid-nextpage">
                                                            <i class="glyphicon glyphicon-chevron-right"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        
                    </div>
                </div>
                <!-- /.page__body -->
            </div>
            <!-- /#withdraw -->

        </div>
        <!-- /.page-dashboard -->
    </div>
        <script src="/javascript/back_office/withdraw.js?345"></script>