<% layout ("../layout/layout_backoffice") -%>
<div id="sidebar_content" class="col-md-8 page__sidebar_content">
    <!-- .page-dashboard -->
    <div class="page-dashboard">
        
        <!-- view partners -->
        <div id="partners" class="bitex-view bitex-view-active" style="">
            <header class="page__head section-title">
                <h1 class="page__title h2 bitex-view-title">Use your bitcoins</h1>
            </header>
            <div class="page__body bitex-view-content">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="https://testnet.blinktrade.com/assets/exchange_logos/partners/purseio.png" alt="Purse.io">
                            <div class="caption">
                                <h3>Purse.io</h3>
                                <p>Save 15% Off Amazon with Bitcoin</p>
                                <p>
                                    <a href="https://purse.io/?_a=BLINKTRADE" target="_blank" class="btn btn-primary" role="button">
                                        More
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /view partners -->
    </div>
    <!-- /.page-dashboard -->
</div>